@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,700;1,400&family=Poiret+One&display=swap');

:root{
  --primary-color: aquamarine;
  --font-prime: 'Nunito Sans', sans-serif;
  --font-sec: 'Poiret One', cursive
}

html{
  font-size:62.5%;
}
*,body{
  border-radius:0.5rem;
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:var(--font-prime);
}

/* main css */
nav{
  font-size:2rem;
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:0.7rem 4rem;
  background-color: var(--primary-color);
}
nav img{
  width:4rem;
  height:4rem;
  border-radius: 50%;
}
ul{
  display:flex;
  gap:3rem;
  list-style: none;
}
a{
  text-decoration:none;
  color:black;
}
.active{
 color:red;
}
.main-head{
  font-family:var(--font-sec);
  font-size:5rem;
  text-align: center;
  margin: 2rem auto;
}
.main-head::after{
  content:"";
  display:block;
  height:2px;
  margin:auto;
  margin-top:2rem;
  width:40%;
  background-color: var(--primary-color);
}
.input-sec{
  display:flex;
  flex-direction:column;
  justify-items:center;
  align-items:flex-end;
  width:62.5%;
  margin:3rem;
}
#textarea,.output{
  width:50%;
  height:30vh;
  padding:2rem 3rem;
  text-align: center;
  border-style:none;
  font-size:1.7rem;
  background-color: var(--primary-color);
}
#btn-translate , #check{
  background-color:var(--primary-color);
  font-size:1.7rem;
  border-style: none;
  margin: 1rem 0;
  padding:1rem 2rem;
}
button:hover{
  transform:scale(1.05);
  transition:0.3s;
}
.output span{
  opacity:0.6;
}

/* prime page css */
h3{
  text-align:center;
  font-size:2em;
  margin-top: 4rem;
}
.inpt{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:2rem;
  margin:5rem auto;
}
.inpt input{
  border:2px solid var(--primary-color);
  padding:1rem;
  text-align:center;
}
.output-prime{
  background-color:var(--primary-color);
  padding:3rem 5rem;
  visibility: hidden;
}
.big{
  font-family:var(--font-sec);
  font-size:4rem;
  margin-top:2rem;
}
/* Leap page css */